@charset "utf-8";

body {
    background-color: #efffef;
}

#제목 {
    color: #880000;
    font-size: 32pt;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #adadad;
    text-align: center;
    font-style: italic;
    padding: 8px;
}

#td1 {
    border: 1px solid black;
    background-color: #eeeeee;
    text-align: center;
    padding: 8px;
}

th {
    border: 1px solid #9e9e9e;
    text-align: center;
    padding: 8px;
}

#th1 {
    text-align: center;
    padding: 8px;
    font-size: 18pt;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#blue {
    color: blue;
}

#본문1 {
    text-align: center;
    background-color: #ebc6c6;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 720px;
}
